{% extends 'base.html' %}

{% block contenido %}

<style>
    body {
        background-image: url('https://images.hdqwalls.com/wallpapers/abstract-green-gradient-bs.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    }

    .container {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px #000000;
        margin-top: 30px;
    }

    .jumbotron {
        text-align: center;
        padding: 20px;
    }

    .btn-container {
        margin-top: 20px;
    }

    .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .btn-success {
        margin-top: 15px;
    }

    
</style>

<div class="container">
    {% if pregunta is None %}
        <div class="jumbotron">
            <h1>Ya has respondido a todas nuestras preguntas. Mira tu puntaje</h1>
            <div class="btn-container">
                <a href="{% url 'puntaje_individual' %}" class="btn btn-primary">Ver tu puntaje</a>
                <a href="{% url 'user_statistics' %}" class="btn btn-secondary">Ver Estadísticas Personales</a>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <h3>{{ pregunta.texto }}</h3>
            <form method="POST" class="form">
                {% csrf_token %}
                <input type="hidden" name="pregunta_pk" value="{{ pregunta.pk }}">
                {% for opcion in pregunta.opciones.all %}
                    <div class="form-check mx-4">
                        <input class="form-check-input" type="radio" name="respuesta_pk" value="{{ opcion.pk }}" id="choice-{{ forloop.counter }}">
                        <label class="form-check-label" for="choice-{{ forloop.counter }}">
                            {{ opcion.texto }}
                        </label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    {% endif %}
</div>

{% endblock %}
