{% extends 'base.html' %}

{% block contenido %}

<div class="container">
	
	<h1 class="text-center my-4"> 
		<span class="badge badge-info">

			Los {{contar_user}} mejores jugadores
			
		</span>

	</h1>


	<table class="table table-striped table-bodered">
		<thead>
			<tr>
				<th>Posicion</th>
				<th>Usuario</th>
				<th>Puntaje</th>
			</tr>
		</thead>
		<tbody>
			{% for user_quiz in usuario_quiz %}
				<tr>
					<th>{{forloop.counter}}</th>
					<th>{{user_quiz.usuario.username}}</th>
					<th>{{user_quiz.puntaje_total}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<head>
		<style>
			a {
				display: block;
				width: 200px;
				text-align: center;
				font-family: sans-serif; 
				font-weight: 700;
				border-radius: 5px;
				margin: 120px auto;
				padding: 15px 30px;
				text-decoration: none;
				color: #ffffff; 
				background-color: rgb(9, 153, 169);
        }
		</style>
	</head>
	<ul>
		<a href="{% url 'inicio' %}">Volver al inicio</a>

	</ul>

</div>

{% endblock %}