<form method="POST">
	{% csrf_token %}

	{{form.as_p}}

	<button type="submit">
			Enviar
	</button>

</form>

<style>
    body {
        background-color: rgb(94, 193, 130);
        font-family: Verdana, Tahoma, sans-serif ;
		display: block;
		width: 200px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		border-radius: 150px;
		margin: 120px auto; 
		text-decoration: none;
		color: rgb(0, 0, 0);
		background-color: rgb(105, 126, 171);        ;

    }
</style>